{
  "extends": ["airbnb-base", "plugin:react-pug/all", "prettier"],
  "plugins": ["prettier", "react-pug"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "class-methods-use-this": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["src"]
          }
        }
      }
    }
  }
}
